.row {
  margin-left: 20px;
  color: white;
}

.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 120px;
  margin-right: 2px;
  padding: 15px 5px;
  transition: transform 0.5s;
}
.row_posters {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster:hover {
  transform: scale(1.08);
}
.row_poster_large {
  max-height: 300px;
  padding: 20px 8px;
}
.row_poster_large:hover {
  transform: scale(1.09);
}
